<launch>

  <!-- load the joint state controller -->
  <rosparam file="$(find kuka_kr6_gazebo)/config/joint_state_controller.yaml" command="load" />
  <node name="joint_state_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn joint_state_controller" />

  <!-- load the arm controller -->
  <rosparam file="$(find kuka_kr6_gazebo)/config/kr6r900sixx_arm_controller.yaml" command="load" />
  <node name="kuka_kr6r900sixx_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn arm_controller" />
  
</launch>
